flows (1) (1).json
[{"id":"b9d48315.0da04","type":"tab","label":"Wind Turbine","disabled":false,"info":""},{"id":"624e0813.197b48","type":"function","z":"b9d48315.0da04","name":"PreToken","func":"global.set(\"date\",msg.payload.date)\nglobal.set(\"lvactivepower\",msg.payload.lvactivepower)\nglobal.set(\"wdir\",msg.payload.wdir)\nglobal.set(\"wspeed\",msg.payload.wspeed)\n\nvar apikey=\"H9VGIcol5dSixpGJV61k2EUgME4GR43_aY99z13lSo4A\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":200,"wires":[["b21b61f4.3e8ff"]]},{"id":"b21b61f4.3e8ff","type":"http request","z":"b9d48315.0da04","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":260,"wires":[["f037f149.63571"]]},{"id":"4e2b253d.ae1e8c","type":"inject","z":"b9d48315.0da04","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":100,"wires":[["624e0813.197b48"]]},{"id":"fc8ed379.cc882","type":"ui_form","z":"b9d48315.0da04","name":"","label":"","group":"e87b22f1.3eb56","order":1,"width":0,"height":0,"options":[{"label":"Enter Date","value":"date","type":"text","required":true,"rows":null},{"label":"Enter LVActivePower_kW","value":"lvactivepower","type":"number","required":true,"rows":null},{"label":"Enter WindDirection°","value":"wdir","type":"number","required":true,"rows":null},{"label":"Enter WindSpeedm/s","value":"wspeed","type":"number","required":true,"rows":null}],"formValue":{"date":"","lvactivepower":"","wdir":"","wspeed":""},"payload":"","submit":"submit","cancel":"reset","topic":"","x":90,"y":320,"wires":[["624e0813.197b48"]]},{"id":"86b3a767.592838","type":"debug","z":"b9d48315.0da04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1050,"y":120,"wires":[]},{"id":"f037f149.63571","type":"function","z":"b9d48315.0da04","name":"Pre Prediction","func":"var date = global.get('date')\nvar lvactivepower = global.get('lvactivepower')\nvar wdir = global.get('wdir')\nvar wspeed = global.get('wspeed')\n\nvar token=msg.payload.access_token\nvar instance_id=\"ef65fc43-ae4a-4c70-9d18-ac63c0ad0717\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Date\", \"LVActivePower\", \"Wind Direction\", \"Wind Speed\"], \"values\": [[date,lvactivepower,wdir,wspeed]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":200,"wires":[["c6202d61.82603"]]},{"id":"c6202d61.82603","type":"http request","z":"b9d48315.0da04","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/76ff7595-671c-45db-bb62-8c3619504d9f/predictions","tls":"","persist":false,"proxy":"","authType":"","x":770,"y":260,"wires":[["9cc4265.599a5d8"]]},{"id":"fdddc197.962f4","type":"ui_text","z":"b9d48315.0da04","group":"e87b22f1.3eb56","order":2,"width":0,"height":0,"name":"","label":"Energy Output","format":"{{msg.payload}}","layout":"row-center","x":1080,"y":300,"wires":[]},{"id":"9cc4265.599a5d8","type":"function","z":"b9d48315.0da04","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":180,"wires":[["86b3a767.592838","fdddc197.962f4"]]},{"id":"e87b22f1.3eb56","type":"ui_group","z":"","name":"Prediction Form","tab":"c615ebe9.c5a518","order":1,"disp":true,"width":"6","collapse":false},{"id":"c615ebe9.c5a518","type":"ui_tab","z":"","name":"Wind Turbine Energy","icon":"dashboard","disabled":false,"hidden":false}]