Wind Energy UI.json
[{"id":"f04ae699.5bcfc8","type":"tab","label":"Predicting Wind Turbine Energy Output","disabled":false,"info":""},{"id":"acd288a5.fb48c8","type":"function","z":"f04ae699.5bcfc8","name":"PreToken","func":"global.set(\"date\",msg.payload.date)\nglobal.set(\"lvactivepower\",msg.payload.lvactivepower)\nglobal.set(\"wspeed\",msg.payload.wspeed)\nglobal.set(\"wdir\",msg.payload.wdir)\n\nvar apikey=\"H9VGIcol5dSixpGJV61k2EUgME4GR43_aY99z13lSo4A\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":240,"wires":[["e9559964.a09f58"]]},{"id":"e9559964.a09f58","type":"http request","z":"f04ae699.5bcfc8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":300,"wires":[["6de9b974.faba28"]]},{"id":"b93a39f9.c0db48","type":"inject","z":"f04ae699.5bcfc8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":140,"wires":[["acd288a5.fb48c8"]]},{"id":"5d349e1b.58f89","type":"ui_form","z":"f04ae699.5bcfc8","name":"","label":"","group":"9c53c30.f3e7a4","order":1,"width":"6","height":"10","options":[{"label":"Enter Date","value":"date","type":"text","required":true,"rows":null},{"label":"Enter LVActivePower_kW","value":"lvactivepower","type":"number","required":true,"rows":null},{"label":"Enter WindSpeedm/s","value":"wspeed","type":"number","required":true,"rows":null},{"label":"Enter WindDirection°","value":"wdir","type":"number","required":true,"rows":null}],"formValue":{"date":"","lvactivepower":"","wspeed":"","wdir":""},"payload":"","submit":"submit","cancel":"reset","topic":"","x":70,"y":360,"wires":[["acd288a5.fb48c8"]]},{"id":"1b8c9d13.d9d133","type":"debug","z":"f04ae699.5bcfc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1190,"y":40,"wires":[]},{"id":"6de9b974.faba28","type":"function","z":"f04ae699.5bcfc8","name":"Pre Prediction","func":"var date = global.get('date')\nvar lvactivepower = global.get('lvactivepower')\nvar wspeed = global.get('wspeed')\nvar wdir = global.get('wdir')\n\nvar token=msg.payload.access_token\nvar instance_id=\"ef65fc43-ae4a-4c70-9d18-ac63c0ad0717\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Date\", \"LVActivePower\", \"Wind Speed\", \"Wind Direction\"], \"values\": [[date,lvactivepower,wspeed,wdir]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":240,"wires":[["26c8c4a2.34ef0c"]]},{"id":"26c8c4a2.34ef0c","type":"http request","z":"f04ae699.5bcfc8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/76ff7595-671c-45db-bb62-8c3619504d9f/predictions","tls":"","persist":false,"proxy":"","authType":"","x":750,"y":300,"wires":[["435a71c.9ac799","bf749dc4.4f8fa"]]},{"id":"435a71c.9ac799","type":"function","z":"f04ae699.5bcfc8","name":"Parsing Energy Output","func":"/*\nmsg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;\n*/\nmsg.payload = \"Energy Output : \"+msg.payload.predictions[0].values[0][0]\nreturn msg;\n","outputs":1,"noerr":0,"x":940,"y":200,"wires":[["f1a07083.1ef8a","b1ef1c26.ee92b","9a4eeb23.c10b78","8c8e666d.c52208"]]},{"id":"f1a07083.1ef8a","type":"ui_text","z":"f04ae699.5bcfc8","group":"9c53c30.f3e7a4","order":2,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":1210,"y":100,"wires":[]},{"id":"eb0ed002.b9bc9","type":"ui_text","z":"f04ae699.5bcfc8","group":"9c53c30.f3e7a4","order":2,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":1470,"y":220,"wires":[]},{"id":"b1ef1c26.ee92b","type":"watson-translator","z":"f04ae699.5bcfc8","name":"","action":"translate","basemodel":"ar-en","domain":"general","srclang":"en","destlang":"hi","password":"","apikey":"VxWyXQD29-FeIvAhB8W13o4sDsEfEMeGFU5eIYHqw8aE","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"hi","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"https://api.eu-gb.language-translator.watson.cloud.ibm.com/instances/ec9b047c-9473-4f51-9daa-0f0dd876f0f5","x":1230,"y":220,"wires":[["eb0ed002.b9bc9","933f97b1.08b7f8"]]},{"id":"9a4eeb23.c10b78","type":"ui_audio","z":"f04ae699.5bcfc8","name":"","group":"9c53c30.f3e7a4","voice":"en-US","always":"","x":1220,"y":160,"wires":[]},{"id":"933f97b1.08b7f8","type":"ui_audio","z":"f04ae699.5bcfc8","name":"","group":"9c53c30.f3e7a4","voice":"hi-IN","always":"","x":1460,"y":280,"wires":[]},{"id":"fee508a3.7b8bb8","type":"ui_template","z":"f04ae699.5bcfc8","group":"9c53c30.f3e7a4","name":"Background Image","order":5,"width":0,"height":0,"format":"<html>\n<style>\n    body{\n        background-image:url(\"https://cdn.britannica.com/75/114975-050-E61977EE/Wind-turbines-Tehachapi-Calif.jpg\");\n        background-size:cover;\n    }\n</style>\n<body></body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":450,"y":80,"wires":[[]]},{"id":"aad87a0f.8fc7c8","type":"ui_chart","z":"f04ae699.5bcfc8","name":"","group":"899f4f56.ef819","order":11,"width":"6","height":"4","label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"5000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1130,"y":460,"wires":[[]]},{"id":"8c8e666d.c52208","type":"watson-translator","z":"f04ae699.5bcfc8","name":"Telugu Translator","action":"translate","basemodel":"ar-en","domain":"general","srclang":"en","destlang":"te","password":"","apikey":"VxWyXQD29-FeIvAhB8W13o4sDsEfEMeGFU5eIYHqw8aE","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"te","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"https://api.eu-gb.language-translator.watson.cloud.ibm.com/instances/ec9b047c-9473-4f51-9daa-0f0dd876f0f5","x":1250,"y":340,"wires":[["f860900b.ef02c"]]},{"id":"f860900b.ef02c","type":"ui_text","z":"f04ae699.5bcfc8","group":"9c53c30.f3e7a4","order":2,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":1470,"y":340,"wires":[]},{"id":"bf749dc4.4f8fa","type":"function","z":"f04ae699.5bcfc8","name":"Parsing value for chart","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":440,"wires":[["aad87a0f.8fc7c8"]]},{"id":"9c53c30.f3e7a4","type":"ui_group","z":"","name":"Prediction Form","tab":"f7c3c61c.a0fd08","order":3,"disp":true,"width":"6","collapse":false},{"id":"899f4f56.ef819","type":"ui_group","z":"","name":"Energy Output","tab":"f7c3c61c.a0fd08","order":4,"disp":true,"width":"6","collapse":false},{"id":"f7c3c61c.a0fd08","type":"ui_tab","z":"","name":"Wind Turbine Energy","icon":"dashboard","disabled":false,"hidden":false}]